

  <!-- component template -->
<script type="text/x-template" id="grid-template">
  <table class="ui table sortable">
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(key, entry) in filteredData">
        <td v-for="key in columns">
          <a href="{{linkBase}}{{entry.ID}}">{{entry[key]}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="app" class="ui container">


    <h1>Overview</h1>
    

<form id="search"><div class="ui icon input">
  <input placeholder="Search..." type="text" name="query" v-model="searchQuery">
  <i class="inverted circular search link icon"></i>
</div>
  </form>
  <grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </grid>

  </div>
 <script>
  $(document)
    .ready(function() {
   
    })
  ;
  </script>
  <script src="/files/list.js"></script>
