{{ template "tmpl_header.html" }}

<body>
    <table class="ui left aligned table">
      <thead class="ui fixed top sticky">
        <th class="left aligned">ID</th>
        <th>Persons</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Protein</th>
      </thead>
      <tbody>
        {{range $pic := .}}
        <tr>
          <td>{{$pic.ID}}</td>
          <td>{{range $pers := $pic.Persons}}{{$pers.FullName}}<br>{{end}}</td>
          <td class="left aligned">{{$pic.Title}}</td>
          <td class="left aligned">{{$pic.Topic}}</td>
          <td>{{$pic.YearIssued}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
 <script>
  $(document)
    .ready(function() {
    $('.ui.sticky')
  .sticky()
;
    })
  ;
  </script>
</body>
</html>