<div id="app" class="ui container">
   <h1>Edit - {{post.title}}</h1>
    <div class="ui grid">
       <div class="eight wide column">
        <form class="ui form">
        <div class="field">
           <b>ID:</b> {{post.id}}
        </div>
        <div class="field">
           <b>Status:</b> 
           <select v-model="post.Status">
            <option v-for="s in status" value="{{s}}">{{s}}</option>
            </select>
       </div>

<div class="ui styled accordion">
<div class="title"><i class="icon dropdown"></i>Blog Daten</div>
<div class="content">
    <div class="field" v-for="el in formMeta">
        <label>{{el[0]}}:</label>
        <div class="ui left icon input">
            <input v-model="post[el[1]]" type="text" class="datetime">
            <i class="calendar icon"></i>
        </div>
        </div>
        <div v-on:click="setBlogMetaToNow" class="ui icon  button">           
        <i class="calendar icon"></i> Setze Datum und Zeit auf jetzt
        </div>
</div>
<div class="title"><i class="icon dropdown"></i>Verknüpfungen</div>
<div class="content">
<div class="field">
        <label>Tags:</label>
                <div class="ui label" v-for="t in post.tags" track-by="$index">
                    {{t}}
                <i class="delete icon" v-on:click="removeTag($index)"></i>
                </div>
                <br><br>
                
                    <div class="field">
                        <div class="ui right labeled left icon input">
                            <i class="tags icon"></i>
                            <input placeholder="Tag" type="text" v-model="newTag">
                            <a class="ui tag label" v-on:click="addTag()">
                            Tag hinzufügen
                            </a>
                        </div>
            
                </div>
                        
    </div>
</div>



<div class="title"><i class="icon dropdown"></i>Daten</div>
<div class="content">
<div class="field" v-for="el in form">
    <label>{{el[0]}}:</label>
    <div class="ui input">
        <input v-model="post[el[1]]" type="text">
       
    </div>
    </div> 
</div>     
<div class="title"><i class="icon dropdown"></i>Text</div>
<div class="content">
<div class="field">
    <label>Text</label>
    <textarea v-model="post.content"></textarea>
</div>
</div>
</div>

        
        </form>
        <br>
        <div v-on:click="saveData(true)" class="ui primary button">           
             Speichern
        </div>
        <div v-on:click="saveData(false)" class="ui primary button">           
             Speichern und weiter bearbeiten
        </div>

       </div>
<div class="eight wide column">
    Textvorschau:<br>
    <div class="ui segment">
        <div v-html="post.content | marked"></div>
    </div>
    <div v-for="pic in post.postpics">
        {{pic.Value}}
        <img src="{{post.id}}/{{pic.Value}}">
    </div>
</div>
    </div>
</div>
<script src="/files/edit_post.js"></script>