<div id="app" class="ui container">
   <h1>Edit - {{person.FullName}}</h1>
    <div class="ui grid">
       <div class="six wide column">
        <form class="ui form">
        <div class="field">
           <b>ID:</b> {{person.personID}}<br>
           <b>Name:</b> {{person.FullName}}
        </div>

         <div class="field">
            <label>Master:</label>
            <select v-model.number="person.masterID">
            <option v-for="p in persons | orderBy 'FullName'" value="{{p.personID}}">{{p.FullName}}({{p.personID}})</option>
            </select>
        </div>

        <div class="field">
            <label>Family Name</label>
            <input v-model="person.FamilyName" @keyup="setFullName">
        </div>

        <div class="field">
            <label>Given Name</label>
            <input v-model="person.GivenName" @keyup="setFullName">
        </div>


        <div class="field">
            <label>GND</label>
            <input v-model.number="person.GND" type="number">
        </div>

        
        </form>
        <br>
        <div v-on:click="saveData" class="ui primary button">           
             Save
        </div>

       </div>
    </div>
</div>
<script src="/files/edit_person.js"></script>