<div id="app" class="ui container">
   <h1>Edit - {{person.FullName}}</h1>
    <div class="ui grid">
       <div class="seven wide column">
        <form class="ui form">
        <div class="field">
           <b>ID:</b> {{person.personID}}<br>
           <b>Name:</b> {{person.FullName}}
        </div>

         
<div class="fields">
        <div class="field">
            <label>Family Name</label>
            <input v-model="person.FamilyName" @keyup="setFullName">
        </div>

        <div class="field">
            <label>Given Name</label>
            <input v-model="person.GivenName" @keyup="setFullName">
        </div>
</div>
<div class="fields">
        <div class="field">
            <label>Geburtsjahr</label>
            <input v-model="person.YearBirth" type="Number">
        </div>

        <div class="field">
            <label>Sterbejahr</label>
            <input v-model="person.YearDeath" type="Number">
        </div>
</div>
<div class="fields">
        <div class="field">
            <label>Geburtsort</label>
            <input v-model="person.CityBirth">
        </div>

        <div class="field">
            <label>Sterbeort</label>
            <input v-model="person.CityDeath">
        </div>
</div>
<div class="fields">
        <div class="field">
            <label>Master:</label>
            <select v-model.number="person.masterID">
            <option v-for="p in persons | orderBy 'FullName'" value="{{p.personID}}">{{p.FullName}}({{p.personID}})</option>
            </select>
        </div>
        <div class="field">
            <label>GND</label>
            <input v-model.number="person.GND" type="number">
        </div>
</div>
        
        
        </form>
        <br>
        <div v-on:click="saveData" class="ui primary button">           
             Save
        </div>

       </div>
<div class="eight wide column">
    <form class="ui form">
        
        
        <div class="field">
            <b>Suche Wikimedia nach</b> <a href="https://commons.wikimedia.org/wiki/Category:{{person.GivenName}} {{person.FamilyName}}?uselang=de">{{person.GivenName}} {{person.FamilyName}}</a>
        </div>
        <div class="field">
            <label>Text</label>
            <textarea v-model="person.Text"></textarea>
        </div>
        <div class="ui relaxed divided list">
        <div class="item" v-for="l in person.Links">
            <i class="large remove middle aligned icon" @click="removeLink($index)"></i>
            <div class="content">
            <a href="{{l.Url}}" class="header">{{l.Title}}</a>
            <div class="description">{{l.Url}}</div>
            </div>
        </div>
        </div>
    <div class="ui styled accordion field">
        <div class="title"><i class="icon dropdown"></i>Neuer Link</div>
                <div class="content">

            <div class="field">
                <label>Url</label>
                <input v-model="newLink.Url">
            </div>
        
            <div class="field">
                <label>Titel</label>
                <input v-model="newLink.Title">
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div v-on:click="addLink()" class="ui icon primary button">           
                                <i class="add circle icon"></i> Hinzufügen
                                </div>
            </div>
                </div>
    </div>

    <div class="field ui two cards">
           <div class="ui card" v-for="profPic in person.ProfilePics">
            <div class="image">
                
                <img src="/img/person/{{person.personID}}/thumb/{{profPic.Value}}">
            </div>
            <div class="content">
               
                <div class="description">
               <input v-model="profPic.Title" placeholder="Titel">
                <input v-model="profPic.Attribution" placeholder="Urheberschaft">
                </div>
            </div>
            </div>
        </div>
       

    </form>
</div>
    </div>
</div>
<script src="/files/edit_person.js"></script>